@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Noto+Serif+JP:wght@200;300;400&display=swap');
.blue-box {
  background-color: #4383FF;
  width: 1191px;
  height: 246px;
  margin-left: 630px;
  margin-top: 100px;
}
img{
  height: 240px;
  width: 235px;
  padding-top: 6px;

}


.head {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin-left: 630px;
    margin-top: 20px;
    float:left;
    font-family: 'DM Serif Display', serif;
  }
.content {
    float:left;
    width: 350px;
    margin-left: 675px;
    margin-top: 20px;
}
h2 {
    font-size: 1em;
    font-family: Noto Serif JP, serif;
    font-weight: 200;
}
.topnav {
    background-color: none;
    overflow: hidden;
  }

.topnav a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 13px;
    font-family: 'Noto Serif JP', serif;
  }

.topnav a:hover {
    background-color: #ddd;
    color: black;
  }

.topnav .icon {
    display: none;
  }
